.bunny {
  height: 162px;
  width: 168px;
}

.ears{
  background: #0BB4FC;
  width: 30px;
  height: 80px;
  border-radius: 200px 0 100px 40px;
  transform: rotate(-44deg);
  position: relative;
  left: 88px;
}

.head {
  background: #0BB4FC;
  width: 62px;
  height: 62px;
  border-radius: 31px 31px 2px 31px;
  /* transform: rotate(-20deg); */
  position: relative;
  left: 106px;
  top: -40px;
}

.torso {
  background: #0BB4FC;
  width: 110px;
  height: 110px;
  border-radius: 60px;
  position: relative;
  left: 20px;
  top: -90px;
}

.tail {
  background: #0BB4FC;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  top: -130px;
}

.feet {
  background: #0BB4FC;
  width: 60px;
  height: 20px;
  border-radius: 23px 23px 0 0;
  position: relative;
  top: -150px;
  left: 80px;
}