:root {
    --color-4: #2C3350;
}

* {
  box-sizing: border-box;
}

/* html {
    height: 100%;
  } */

body {
  padding: 16px;

  background-image: url("/img/springbunny.jpg");

  /* Add the blur effect */
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: #ee6f98;
}

h1 {
  font-family: "ZCOOL XiaoWei", serif;
}

.textBorder {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 15%;
  padding: 10px;
  font-size: 40px;
  text-shadow: 2px 2px var(--color-4);
  font-family: "ZCOOL XiaoWei", serif;
}

#google-search {
  width: 100%;
  height: 40px;
  border-width: 2px;
  border-color: var(--color-4);
  border-radius: 15px;
  font-family: "ZCOOL XiaoWei", serif;
  z-index: 1;
  outline: none;
  font-size: 0.6em;
  font-weight: 500;
  padding-left: 12px;
  color: #EE6F98;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-around;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
}
